*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    height: 100vh;
    /* overflow gère la façon d'on le dépassement d'un contenu va être géré dans son bloc */
    overflow: hidden;   
    font-family: Helvetica, sans-serif;
    color: #333;
}

.card {
    /* position: absolute pour sortir la carte du flux et la positionner où je veux */
    position: absolute;
    /* top left transform = le combo pour centrer sans passer par les flexbox */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card h1 {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid  silver;
    text-transform: uppercase;
}

.card form {
    padding: 50px;
}

/* On s'occupe de ce qui entoure les champs */
.card form .txt-field {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    margin: 30px 0;
}

/* On s'occupe uniquement des champs */
.card form .txt-field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 1rem;
    border: none;
    /* outline: none permet de ne pas avoir de bordure au moment du focus sur les champs */
    outline: none;
}

.login-button{
    /* border: 1px solid silver; */
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    font-weight: 600;
    text-transform: uppercase;
    /* Pour notre curseur change au survol */
    cursor: pointer;
    /* Cette transition ne s'appliquera qu'au background de l'input */
    transition: background 0.2s ease-out;

}

.login-button:hover{
    border: none;
    color: #fff;
    background-color: #8BC6EC;
}

.login-issue{
    margin-top: 20px;
    text-align: center;
}

.login-issue a {
    color: #8BC6EC;
    text-decoration: none;
}

.login-issue a:hover {
    text-decoration: underline;
}